* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.header p {
  margin-top: 40px;
  text-align: center;
  font-size: 25px;
  color: #2438a6;
}
.icon {
  text-align: center;
}
.special {
  font-size: 100px;
}
